*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
 background-color: #e2f0ef;
}
.container{
    background-color: #09fff7; 
    min-height: 100vh;
    border: 10 px solid #6466dc;
}
.content{
   max-width: 900px;
   margin: 0 auto;
}
.top section{
     margin-top: 100px;
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
}
.top_section h1{
     font-size: 10px;
     font-weight: bold;
     color: #f01818;
     text-transform: uppercase;
}
.top_section h4{
     font-size: 30px;
     text-align: end;

}
.image_container{
     border-radius: 50%;
     overflow: hidden;
}
.image_container.img{
     width: 20px;
     height: 10px; 
}
.about_section{
     margin-top: 50px;

}
.about_section h2{
     font-size: 70px;
      font-weight: 400;
      margin-bottom: 20px;
      background-color: #021716;
}
.about_section p{
     font-size: 20px;
     line-height: 30px;
     letter-spacing: 1.2px;
     text-align: justify;
}
.biography_section{
     margin: 50px 0;
}
.biography_section h3{
     margin-bottom: 20px

}
.biography_section ul{
     margin-left: 50px;
}
.biography_section li{
     margin-bottom: 15px;
}
footer{
     margin: 50px 0 ;
}
footer p{
     text-align: end;
}
